@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/Avenir/AvenirNext.otf"); /* File to be stored at your site */
  }
@font-face {
    font-family: 'Avenir Next Bold';
    src: url("fonts/Avenir/AvenirNextLTPro-Bold.otf"); /* File to be stored at your site */
    }
@font-face {
      font-family: 'Djalal';
      src: url("fonts/djalal/DJALAL.otf"); /* File to be stored at your site */
      }
      @font-face {
        font-family: 'Gell';
        src: url("/fonts/Gellatio.ttf"); /* File to be stored at your site */
        }


html {
  overflow-x: hidden;
}
    body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  
}

.header-home {
    width: 110%;
    position: fixed; /* relative */
    padding: 0px; /* some padding */
    text-align: center; /* center the text */
    /*background-color: rgb(157, 168, 168); /* rgb(149, 156, 149); /* green background */
    /*background-image: url("/images/stains-min.jpg")!important;*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #fff; /* white text color */
    
    height: 700px;   /* !!!! 800px; */
    top:0;
    left:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 9999999;
    overflow-y: hidden;
    overflow-x:hidden;
    
}
  .buttoncontainer2 .btn-slice2 {
    display: none;
  }
  .secondscroll {
    width: 100%;    
    margin-top: 150%;
    position: absolute;
    display: block; 
  }

  #inmotion-header {
  display:none;
}

#headingbutton {
  
  line-height: 4em!important;
}

  

  .header h3 {
    position: fixed;
    top: 7px;
    left: 100px;
    float: left;
    z-index: 3;
    color: Black;

  }

  
  .container {
    position: relative;
    width: 350px;
  height: 120px;
  background: black;
  position: relative;
  }
  
#second-heading {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  float: left;
  text-align: left;
  font-size: 40px;
}
#Container1Body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 22px;
  margin-bottom: 50px;
  color: #000;
  z-index: 999999999!important;
}

p#bodytext {
  z-index: 99999999999!important;
  color: #000!important;
}
#Container2Body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-weight:300;
  text-align: left;
  font-size: 22px;
  line-height: 45px;
  margin-bottom: 50px;
}
#carousel {
    margin-top: 180px;
    width: 800px;
    float: right;
    position: relative;
    right: 180px;
    display: block;
}
.brand-img {
  position: absolute;

  float:right;
  left: 1000px;
  max-width: 300px!important;
}
.brand-img img{
  float:right;
  margin-top: -100px;
  max-width: 900px!important;
}



/* TOP MENU STYLE */
/*Responsive Styles*/
.nav{ 
  display:none;
}
/*
.navbar2 {
  position: absolute; 
  top: 0px; 
  width: 100%; 
  height: auto;
 
  z-index: 99999;
  transition: all 0.5s;
  float: right;
  display: block;
  
}
.navbar2 ul { 
  float: right;
  margin-top: 10px;
  margin-left: auto;
  padding: 0; 
  list-style: none; 
  text-align: left;
  z-index: 999;
}
.navbar2 li { 
  
  
  z-index: 999;
  float: left;
  list-style-type: none;
  
  
}
.navbar2 a#Menu3 {
border: 0px solid #000;
background-color: #000;
padding: 25px;
padding-left: 40px;
padding-right: 40px;
}

.navbar2 a {
  position: relative;
  float: right;
  color: rgb(255, 255, 255);
  padding: 25px;
  padding-bottom: 12px;
  margin-right: 35px;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0px;
  font-family: "Avenir Next";
  text-decoration: none; 
  

}

.navbar2 a:hover::after {
  content: "";
  width:100%;
  position:absolute;
  left: 0px;
  height: 6px;
  bottom: 4px;
  background: #444;
  background: linear-gradient(to bottom, rgb(117, 57, 226) 1%,transparent 100%);
  opacity: 0.5;
}

*/

/*     W E   C A N    H E L P    4    C O L U M N S       */

.dis-container2 {
  position: relative;
  width: 100%;
  height: 600px;
  float: left;
  top: 0px!important;
  left: 0;
  padding-bottom: 50px;
  margin: 0px;
  margin-bottom: 150px;
  /*background:linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.904)), url("/images/stains-min.jpg");*/

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.dis-container2 ul {
  width: 100%;
  margin: 30px;
}


.columns p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  z-index: 20;
  line-height: 4em;
  
}

.dis-container2 h4 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  color: rgb(0, 0, 0);
  font-size: 50px;
  z-index: 10;
}

h4#wyg {
  position: relative;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  color: rgb(255, 255, 255);
  font-size: 50px;
  z-index: 20;
  background-color: rgb(0, 0, 0)!important;
  padding: 10px;
}

h4#growh4 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0)!important;
  padding: 10px;
}

h4.growtitle {
  margin-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 40px!important;
  
  opacity: 1!important;
}
.col
{
    float: left;
    width: 20%;
    margin-right: 60px;
    color: rgb(0, 0, 0)!important;
}

.opa
{
    opacity: 0.5;
    line-height: 2em;
}
.opa:hover
{
  
    opacity: 1;
}
.rowm{
    overflow: hidden;  /* "overflow: auto;" works just as well instead */
    width:100%;        /* Helps older versions of IE */
}



/*--Button Styles--*/

.btn-slice2 {
  float: left!important;
  margin-right: 8vw;
  margin-top: 0px;
  padding: 1.2rem 2.5rem;
border: 2px solid #ffffff!important;
  border-radius: 0rem;
  color: #ffffff!important;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
position: relative!important;
}

.btn-slice, .btn-slice2 {
  float: right;
  margin-right: 8vw;
  margin-top: 50px;
  padding: 1.2rem 2.5rem;
border: 2px solid #000000;
  border-radius: 0rem;
  color: #000000;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
position: relative!important;

-webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
-webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice .top, .btn-slice2 .top  {
  position: relative;
  height: 6px;
  overflow: hidden;
top: 0;
-webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
-webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

-webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

-webkit-transition-delay:0.35s;     
-moz-transition-delay::0.35s; 
-ms-transition-delay::0.35s;     
-o-transition-delay::0.35s;     
transition-delay::0.35s;
}

.btn-slice .bottom, .btn-slice2 .bottom  {
  position: relative;
  height: 6px;
  overflow: hidden;
bottom: 0;
-webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
-webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

-webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
-o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

-webkit-transition-delay:0.35s;     
-moz-transition-delay::0.35s; 
-ms-transition-delay::0.35s;     
-o-transition-delay::0.35s;     
transition-delay::0.35s;
}

.btn-slice .bottom span, .btn-slice2 .bottom span {
top: -6px;
position: absolute;
left: 0;
}

.btn-slice:hover .top, .btn-slice2:hover .top {
  top: -5px;
-webkit-transition-delay:0.05s;     
-moz-transition-delay::0.05s; 
-ms-transition-delay::0.05s;     
-o-transition-delay::0.05s;     
transition-delay::0.05s; 
}

.btn-slice:hover .bottom, .btn-slice2:hover .bottom {
  bottom: -5px;
-webkit-transition-delay:0.15s;     
-moz-transition-delay::0.15s; 
-ms-transition-delay::0.15s;     
-o-transition-delay::0.15s;     
transition-delay::0.15s; 
}
.btn-slice:hover, .btn-slice:focus, .btn-slice:active, .btn-slice2:hover, .btn-slice2:focus, .btn-slice2:active {
  margin-left: 10px;
}
.btn-slice:before, .btn-slice2:before {
  content: '';
  height: 1px;
  width: 60px;
  background-color: #000000;
  position: absolute;
  margin-top: 6px;
  right: -35px;

-webkit-transition: all 300ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
-webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-moz-transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-o-transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
transition: all 300ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
-o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice2:before {
  background: #fff!important;
}
.btn-slice:hover:before, .btn-slice2:hover:before{
  width: 130%;
}


/*     W E   C A N    H E L P    4    C O L U M N S       */


/* NAVBAR */
/* NAVBAR ICONS */
.lock,
.contact-icon {
	width: 24px;
	height: 24px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -10px;
	margin-bottom: -10px;
  }
.contact-icon {
	background-color: rgb(88, 82, 82);
	/* Defines the Background Color of the Image */
	mask: url("/images/envelope.svg") no-repeat center / contain;
	-webkit-mask: url("/images/envelope.svg") no-repeat center / contain;
	margin-bottom: -12px;
  }
  .lock {
	width: 27px;
	height: 27px;
	margin-bottom: -15px;
	background-color: rgb(88, 82, 82);
	/* Defines the Background Color of the Image */
	mask: url("/images/lock.svg") no-repeat center / contain;
	-webkit-mask: url("/images/lock.svg") no-repeat center / contain;
  }
	.lock:hover,
   .contact-icon:hover {
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: -1px -15px 41px 17px rgba(0,0,0,1);
-moz-box-shadow: -1px -15px 41px 17px rgba(0,0,0,1);
box-shadow: -1px -15px 41px 17px rgba(0,0,0,1);
	/* Defines the Background Color of the Image */
   }
	.lock .navbar a,
	.contact-icon:hover .navbar a {
		background-color: transparent!important;
		box-shadow: none!important;
		-webkit-transition: none!important;
	-moz-transition: none!important;
	transition: none!important;

	}
  /* NAVBAR ICONS */
/* SMALL NAVBAR  */
.navbar {
	
	position: fixed; /* Make it stick/fixed */
	top: 0px; /* Hide the navbar 50 px outside of the top view */
	width: 100%; /* Full width */
	height: auto;
	/*transition: top 0.2s ease-in-out; /* Transition effect when sliding down (and up) */
	transition: all 0.5s;
	display: flex!important;
	border-radius: 0px!important;
  z-index: 9999999999;
  overflow: hidden;
	background-color: rgb(34, 34, 34)!important;
	-webkit-box-shadow: -1px -15px 41px 17px rgba(0,0,0,1);
-moz-box-shadow: -1px -15px 41px 17px rgba(0,0,0,1);
box-shadow: -1px -15px 41px 17px rgba(0,0,0,1);
	
  }
  .navbar ul { 
	margin-top: -60px;
	margin-right: 0px!important;
	list-style-type: none; 
	width: 100%;
	text-align: right;
	z-index: 999;
  }
  .navbar li { 
	z-index: 999;
	float: left;
	margin-right: 0px!important;
	list-style-type: none;
  padding-bottom: 2px;
  padding-top: 2px;
	text-align: center;
  }
  .navbar a#Menu3 {
  border: 1px solid #000;
  background-color: #000;
  color: rgb(114, 114, 114);
  padding: 19px;
  padding-left: 40px;
  padding-right: 40px;
  border-right: 1px rgb(43, 43, 43) solid;
  }
  .navbar a#Menu3:hover {
	border: 1px solid #000;
	color: rgb(255, 255, 255);
	padding: 19px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #353535;
	box-shadow: inset 120px 0 0 0 #383838;
	}
  .navbar a {
	float: right;
	color: rgb(83, 83, 83);
	text-align: center;
	margin-right: 0px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none; 
	padding: 20px 25px;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	box-shadow: inset 0 0 0 0 #31302B;
	border-right: 1px rgb(27, 27, 27) solid;
  }
  
  .navbar a:hover {
	float: right;
	color: rgb(255, 255, 255);
	background-color: #353535;
	box-shadow: inset 120px 0 0 0 #383838;
	
  }
  .Navbar__Items {
    position: relative;
    display: flex!important;
    float: right!important;
    margin-left: auto;
    margin-right: 0px!important;
    margin-top: 0px;
    padding-bottom:0px;
    }
    
    .Navbar__Link {
    padding-right: 0px;
    }
    .Navbar__Link-toggle {
    display: none;
    }
    .Navbar__Link-toggle2 {
    display: none;
    }
    .logowhites-2 {
    position: absolute;
    left: 120px;
    top: 5px;    
    z-index: 9999999!important;
    }
  
    .logoblacks {
      margin-bottom: -40px;
    }
    .logoblacks img{
    margin-top: -15px;
    width: 70px!important;
  }
    .logowhites {
    display: none;
    }
    
    
   /* .Navbar__Link-brand2 {
    margin-top: 0px;
    margin-right: 0px!important;
    z-index: 9999999999!important;
    }
    .Navbar__Link-brand2 img {
    width: 100px;
    }

    */
    .Navbar__Link-brand {
    display: flex;
    float: left;
    margin-top: 0px!important;
    margin-bottom: -20px;
    margin-left: 50px;
    }
    .Navbar__Link-brand img {
    width: 100px;
    }
    .logowhites-3 {
    position: absolute;
    left: 0px;
    top: 10px;
    display: inline;  
    z-index: 99999999!important;    
    }
    .logowhites-3 img {
    
    width: 80px!important;
	}
	
/* SMALL NAVBAR */





  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  }

  .my-container {
    position: absolute;
    left: 70px;
    top: 60px;
    z-index: 10;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  }

  /*.my-container span {
    position: absolute;
   
    left: 50px;
    top: -700px;
    font-family: "Avenir Next";
    font-size: 35px;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
  }*/
  .my-container2 {
    position: absolute;
    left: 75px;
    top: 250px;
    width: 500px;
    float: left;
  }
  /*.my-container2 span {
    position: relative;
    float: left;
    font-family: "Avenir Next";
    font-weight: normal;
    font-size: 50px;
    text-align: left;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;*/
    
    
    
  }
/* ANIMATION KEYFRAMES HEADING */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
 
 
  
  .my-container3 {
    position: relative;
    left: 30px;
    top: 20px;
    width: 850px;
    padding: 40px 0;
    font-weight: 800;
    height: auto;
    font-family: "Avenir Next";
    text-align: left;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    z-index: 9999999999999!important;
  }
  .my-container3 h2{
    position: relative;
    left: 50px;
    top: 300px;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    text-align: left;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
  }

  .my-container3 span {
    position: relative;
    left: 50px;
    color: #fff;
    top: 200px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
font-weight: normal;
    font-size: 65px;
    text-align: left;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    
  }
  
  .discoverbutton {
    position: relative;
    left: 30px;
    top: 80px;
    width: 500px;
    float: left;
  }

  .discoverbutton span {
    position: absolute;
    float: left;
    left: 50px;
    top: -450px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
  }

  font{
  
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
text-rendering: auto;
  }
.webvideo {
  margin-top: -200px;
}
  #render {
    display: none;
    position: fixed;
    height: 1em;
    top: 25px;
    float: right;
    right: 20px;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 99999999999999!important;
  }

/* HEADING ARROW */
#modal2 a,
      #modal1 a,
      #modal3 a,
      #modal4 a
      {
        line-height: 30px;
      }
 #workbutton {
   position: relative;
   float: left;
   margin-left: 80px!important;
 }
 #workbutton a{
  line-height: 30px!important;
}
#trymotionbut {
  width: 100%;
  position:relative!important;
  float: left!important;
  text-align: center!important;
  top: -150px;
  left: 150px;
  margin: auto;
}
.buttoncontainer {
  position: absolute;
  left: 80px;
  top: 500px;
  float: left;
  z-index: 999999;

}
.button {
	position: relative;
	display: inline-block;
	width: 25.6em;
	height: 6.5em;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	line-height: 4em;
	font-size: 1rem;
	color: white;
	cursor: pointer;
	transform: translateZ(0);
	transition: transform .5s;
}
	.button svg {
		z-index: 1;
		position: absolute;
		top: 0;
		left: -25px;
  }
     .button svg g line, 
     .button svg g polyline, 
     .button svg g circle {
				fill: none;
        stroke: black;
        
      }
    
       .button svg g line, 
       .button svg g polyline {
        stroke-miterlimit: 10;
        stroke-width: .286em;
      }
			.button svg g circle {
			  display: block;
		  	stroke-linecap: round;
		    stroke-linejoin: round;
		    stroke-width: .266em;
		    stroke-dasharray: 200;
		    stroke-dashoffset: 0;
        transition: stroke-dashoffset ease-out .5s;
        opacity: 0.2;
      }

	.button a {
		z-index: 2;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-family: "Avenir Next"!important;
    font-size: 1.1em;
    color: black;
    font-style: normal;
    margin-bottom: 20px;
    text-decoration: none;
  
  }
   .button:hover {
		transform: translateZ(0) translateX(.5em);
  }
		 .button:hover circle {
					stroke-dashoffset: 200;
        }
        .button3 {
          position: relative;
          display: inline-block;
          width: 25.6em;
          height: 6.5em;
          overflow: hidden;
          vertical-align: middle;
          text-align: left;
          text-decoration: none;
          line-height: 4em;
          font-size: 1rem;
          color: white;
          cursor: pointer;
          transform: translateZ(0);
          transition: transform .5s;
        }
        .button3 svg {
          z-index: 1;
          position: absolute;
          top: 0;
          left: -25px;
        }
           .button3 svg g line, 
           .button3 svg g polyline, 
           .button3 svg g circle {
              fill: none;
              stroke: white;
              
            }
          
             .button3 svg g line, 
             .button3 svg g polyline {
              stroke-miterlimit: 10;
              stroke-width: .286em;
            }
            .button3 svg g circle {
              display: block;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: .266em;
              stroke-dasharray: 200;
              stroke-dashoffset: 0;
              transition: stroke-dashoffset ease-out .5s;
              opacity: 0.2;
            }
      
        .button3 a {
          z-index: 2;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          font-family: "Avenir Next"!important;
          font-size: 1.1em;
          color: white;
          font-style: normal;
          margin-bottom: 20px;
          text-decoration: none;
        
        }
         .button3:hover {
          transform: translateZ(0) translateX(.5em);
        }
           .button3:hover circle {
                stroke-dashoffset: 200;
              }
/* HEADING ARROW */

/* HEADING ARROW BLACK */

.buttoncontainer2 {
  position: relative;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 30px;
  float: left;
}

.button2 {
  position: relative;
	display: inline-block;
	width: 25.6em;
	height: 6.3em;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	line-height: 2em;
	font-size: 1rem;
	color: rgb(0, 0, 0);
	cursor: pointer;
	transform: translateZ(0);
	transition: transform .5s;
  
}


	.button2 svg {
		z-index: 1;
		position: absolute;
		top: -40px;
    left: 0;
    
  }
     .button2 svg g line, 
     .button2 svg g polyline, 
     .button2 svg g circle {
				fill: none;
				stroke: black;
      }
    
       .button2 svg g line, 
       .button2 svg g polyline {
				stroke-miterlimit: 10;
      }
			.button2 svg g circle {
			  display: block;
		  	stroke-linecap: round;
		    stroke-linejoin: round;
		    stroke-width: .466em!important;
		    stroke-dasharray: 200;
		    stroke-dashoffset: 0;
        transition: stroke-dashoffset ease-out .5s;
      }

	.button2 a {
    top: 70px;
		z-index: 2;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-family: "Avenir Next Bold";
    font-size: 5px;
    color: black;
    font-style: normal;
    margin-bottom: 0px;
    text-decoration: none;
  
  }
  .button2 p {
    top: -60px;
    left: 0px;
		z-index: 2;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-family: "Avenir Next Bold";
    font-size: 12px!Important;
    color: black!Important;
    font-style: normal;
    margin-bottom: 0px;
    text-decoration: none;
  
  }
 
   .button2:hover {
		transform: translateZ(0) translateX(.5em);
  }
		 .button2:hover circle {
					stroke-dashoffset: 200;
        }
      
/* BODY 1 */



.clearfix {

  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.info-containerhead  {
  position: relative;
  top: 120px;
  left: 80px;
  margin-bottom: 500px;
  z-index: 999999;
  font-size: 35px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  color: white;
  overflow-x: hidden!important;
z-index: 9999999;
}

.info-containerhead.affix{
  position:fixed;
  top:20px;
  right:0;
}
.info-containerhead .letter {
  display: inline-block;
  line-height: 1em;
}


.info-container {
    width: 100%;    
    /*!!!*/
    position: relative!important; /*RELATIVE*/
    margin-bottom: 100px;
    margin-top: 65%;
    float: left;
    left: 50px; /* 50px */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    z-index: 999999;
 
}



.info-container ul {
    position: relative;
    float: left;
    font-size: 50px;
    width: 700px;
    line-height: 35px;
    margin-top: 150px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    z-index: 99999!important;
    color: #000;
}
.heading-cont-footer {
  display: none;
}

.info-container2 {
  height: auto; 
  width: 100%;    
  /*!!!*/
  position: relative; /*RELATIVE*/
  margin-top: 100px;
  margin-bottom: 100px;
  float: left;
  left: 50px; /* 50px */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  z-index: 999;

}

.info-container2 ul {
  position: relative;
  float: left;
  top: 0;
  font-size: 35px;
  width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.info-container3 {
  height: auto; 
  width: 100%;    
  /*!!!*/
  text-align: center;
  position: relative; /*RELATIVE*/
  margin-top: -150px;
  margin-bottom: -150px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-weight: normal;
  z-index: 999;
  float: left;
}


.info-container3 .inmotion span.word {
  display: block;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 100px;
  top: 50px!important;
  margin-left: 15%;
}
.info-container3 .inmotion span.motionword {
  position: relative;
  font-size: 100px;
  display: block;
  font-family: "Gell";
  margin-top: 0px;
  margin-left: 15%;
}
.info-container3 .inmotion span {
  position: relative;
  text-align: center;
}
.inmotion {
  position: relative;
  width: 80vw;
  margin: auto;
  color: #fff;
  /*background-color: rgb(51, 108, 110);*/
  background-image: url("/images/abstract-blue-patterns-design-min.jpg");
  text-align: center!important;
}

.inmotion .btn-slice2 {
  float: left;
  margin-left: 45%;
  text-align: center!important;
} 

#inmotionid {
  position: relative;
  width: 80%;
  margin: auto;
  top: -150px;
  left: 30%;
  text-align: center;
}

 .inmotion ul {
  position: relative;
  width: 80%;
  height: 600px;
  margin-top: 00px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center!important;
}

.inmotion ul h1 {
  position: absolute;
width: 100%;
color: #fff;
margin-top: 100px;
text-align: center;
}

.info-container3 ul h2 {
  position: relative;
  width: 100%;
  margin-top: 150px;
  margin-left: 35%;
  text-align: center;
  }
.info-container3 ul p {
  position: relative;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 32%;
  color: #fff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  letter-spacing: 2px;
  font-weight: bold;
  }

.ourwork {
  position: relative;
  width :100%;
  
}
.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0px;
  z-index: 999;
  float: left;
  
}
.row a {
  position: relative;
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 999;
}


.row p {
  color: lightgray;
  font-size: 15px;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 5px;
}


.column-right {
  position: relative;
  top: -90px;
  float: left;
  height: auto;
  width: 30vw!important;
  margin-right: 135px;
  clear: both;
}

 .column {
  position: relative;
  float: left;
  width: 30vw;
  margin-left: 80px;
  margin-right: 200px;
  clear: both;

}
.image2{
  background-image:url("images/branding-dis.png");
}
.image3{
  background-image:url("images/ecom-dis.png");
}
.image4{
  background-image:url("images/websites-dis.png");
}
.image5{
  background-image:url("images/marketing-dis.png");
}

.image2,
.image3,
.image4,
.image5 {
  position: relative;
  width: 40vw;
  height: 600px;
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 20px;
  float: left;
  background-color: #f1f0f0;
}

.image2:after,
.image3:after,
.image4:after,
.image5:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.image2:hover:after,
.image3:hover:after,
.image4:hover:after,
.image5:hover:after {
  opacity: 1.0;
  cursor: pointer;
}


/* EXPERIENCE CONTAINER - SECOND AFTER WORK*/
.exp-container {
  position: relative;
  margin-top: 0px;
  padding: 0px;
  overflow: hidden;
  float: left;
  display: block;
  margin-top: 0px;
  width: 100%;
  z-index: 10;
  height: 700px;
  background-color: rgba(223, 223, 223, 0.486);
}
.exp-container img {
  float: right;
  margin-right: -250px;
}

.exp-container ul {
  float: left;
  display: block;
  margin-top: 50px;
  }
  .exp-container ul li {
    list-style-type: none;
    }
.exp-container p {
display: block;
float: left;
margin-top: 100px;
margin-left: 20px;
font-size: 12px;
font-weight: bold;
color: grey;
letter-spacing: 2px;
margin-bottom: 50px;
font-family: "Avenir Next";
}

.exp-container h3 {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 25px;
}

.exp-container h3 a {
  display: block;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  text-decoration: none;
}
.exp-container h3:hover, .row a:hover {
  cursor: pointer;
  -webkit-animation: INDENT 1s 1; /* Safari 4+ */
  -moz-animation:    INDENT 1s 1; /* Fx 5+ */
  -o-animation:      INDENT 1s 1; /* Opera 12+ */
  animation:         INDENT 1s 1; /* IE 10+ */
}
/* TEXT ANIMATION ON HOVER INDENT */

@-webkit-keyframes INDENT{  
  0%   { text-indent: 0; }
  25% { text-indent: 20px; }
  50% { text-indent: 20px; }
  100% { text-indent: 0; }
}
@-moz-keyframes INDENT {
  0%   { text-indent: 0; }
  25% { text-indent: 20px; }
  50% { text-indent: 20px; }
  100% { text-indent: 0; }
}
@-o-keyframes INDENT {
  0%   { text-indent: 0; }
  25% { text-indent: 20px; }
  50% { text-indent: 20px; }
  100% { text-indent: 0; }
}
@keyframes INDENT {
  0%   { text-indent: 0; }
  25% { text-indent: 20px; }
  50% { text-indent: 20px; }
  100% { text-indent: 0; }
}

/* TEXT ANIMATION ON HOVER INDENT */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fullimgfade {
  position: relative!important;
  width: 100%;
  
  margin-top: 150px;
  margin-bottom: -220px;
}
.fullimgfade img {
  width: 100%;
}
.fullimgfade .deeprooted-text {
  position: relative;
  top: -600px;
  left: 70px;
  font-size: 45px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.fullimgfade .deeprooted-subtext {
  position: relative;
  top: -550px;
  left: 70px;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.fullimgfade .deeprooted-but {
  position: relative;
  top: -450px;
  left: 70px;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
}
.deeprooted-text .letter {
  display: inline-block;
  line-height: 1em;
}

.my-container .letter {
  display: inline-block;
  line-height: 1em;
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
  0% { opacity: 1;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 0;width: 0; height: 0;}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 1;width: 0; height: 0;}
}  
@keyframes fadeIn {
  0% { opacity: 0;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 1;width: 0; height: 0;}
}
.scrollUp3 {
  display: block;
    -webkit-animation: fadeIn 1s;
    animation: FadeIn 1s;
    animation-fill-mode: forwards;
}
.scrollUp2 {
  transform: translateY(-90px);
}
.scrollUp {
  transform: translateY(-90px);
}

.hideonLoad {
  margin-top: -80px;
}
/* BLACK SCREEN ON LOAD + JQUERY */
/*#wrappereverything {
  display: none;
}
#overlay-fade {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background: none repeat scroll 0 0 black;
  vertical-align: middle;
  text-align: center;
}*/
/* BLACK SCREEN ON LOAD + JQUERY */


/* FOOTER */

*, *:before, *:after {
  box-sizing: border-box;
}



.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 200px 30px 20px 30px;
  color: #fff;
  background-color: #000;
  border-top: 1px solid #2f2f2f;
  font-size: 12px;
  margin-top: -10px;
  height: 800px;
  width: 100%;
}

.footer a:hover{
 
  color: #fff;

  font-size: px;
}

.footer > * {
  flex:  1 100%;
}
#footer-title {
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: -50px;
  font-size: 40px;
display: flex;
align-self: flex-start;
  line-height: 40px;
  flex: 1;
}

.social {
  display: flex;
  position: relative;
  top: 50px;
  width: 50px;

}
.social img {
  margin-right: 50px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr img{
  width: 200px;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2.0rem;
}

.footer__addr h2 {
  margin-top: 1.0em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  display: block;
  flex: 1;
  position: relative;
  align-self: flex-start;
  font-weight: 400;
  font-size: 12px;
  color: rgb(255, 244, 244);
}


.footer address {
  font-style: normal;
  color: rgb(212, 212, 212);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 36px;
  max-width: max-content;
  background-color: rgba(248, 248, 248, 0.781);
  border-radius: 100px;
  color: #fff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 14px;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #fff;
}





@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

/* MODAL BUTTON/ALERT JAVASCRIPT */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 99999999;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* https://tobiasahlin.com/moving-letters/#8 TEXT ANIMATION */
.ml15 {
  position: relative;
  text-align: center;
  font-weight: 800;
  font-size: 3.8em;;
  margin-left: 150px;
  margin-bottom: -200px;
  font-family: "Gell";
}

.ml15 .word {
  display: block;
  margin-top: 0px;
  line-height: 1em;
}

/* ------ MAIN MENU UNDERLINE EFFECT ----------
.underline--magical {
  background-image: linear-gradient(120deg, #e7d7fc 5%, #b182fd 80%)!important;
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 70%;
  font-size: 12px!important;
  transition: background-size 0.20s ease-in;
  font-weight: bold!important;
  letter-spacing: 2px;
  font-family: "Avenir Next Bold"!important;
  
}
.underline--magical:hover {
  
    background-size: 100% 80%;
    
}
.underline--magical a#Menu3 {
  background-image: none!important;
  background-color: black!important;
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 60%;
  font-size: 12px!important;
  transition: background-size 0.20s ease-in;
  font-weight: bold!important;
  letter-spacing: 2px;;
}
.underline--magical #Menu3:hover {
  
  background-size: 100% 70%;
  
}

<script>// VARIABLES
  const magicalUnderlines = Array.from(document.querySelectorAll('.underline--magical'));
  
  const gradientAPI = 'https://gist.githubusercontent.com/wking-io/3e116c0e5675c8bcad8b5a6dc6ca5344/raw/4e783ce3ad0bcd98811c6531e40256b8feeb8fc8/gradient.json';
  
  // HELPER FUNCTIONS
  
  // 1. Get random number in range. Used to get random index from array.
  const randNumInRange = max => Math.floor(Math.random() * (max - 1));
  
  // 2. Merge two separate array values at the same index to 
  // be the same value in new array.
  const mergeArrays = (arrOne, arrTwo) => arrOne
    .map((item, i) => `${item} ${arrTwo[i]}`)
    .join(', ');
  
  // 3. Curried function to add a background to array of elms
  const addBackground = (elms) => (color) => {
    elms.forEach(el => {
      el.style.backgroundImage = color;
    });
  }
  // 4. Function to get data from API
  const getData = async(url) => {
    const response = await fetch(url);
    const data = await response.json();
    return data.data;
  }
  
  // 5. Partial Application of addBackground to always apply 
  // background to the magicalUnderlines constant
  const addBackgroundToUnderlines = addBackground(magicalUnderlines);
  
  // GRADIENT FUNCTIONS
  
  // 1. Build CSS formatted linear-gradient from API data
  const buildGradient = (obj) => `linear-gradient(${obj.direction}, ${mergeArrays(obj.colors, obj.positions)})`;
  
  // 2. Get single gradient from data pulled in array and
  // apply single gradient to a callback function
  const applyGradient = async(url, callback) => {
    const data = await getData(url);
    const gradient = buildGradient(data[randNumInRange(data.length)]);
    callback(gradient);
  }
  
  // RESULT
  applyGradient(gradientAPI, addBackgroundToUnderlines);</script>
*/
/* --------------- MOBILE DATES -------------------------*/





  /* CONTACT PAGE */
  
/* ------- WAVES ----------*/

.contact-header {
  width: 100%;
  position: relative;
  padding: 0px; /* some padding */
  text-align: center; /* center the text */
  background-image: url("/images/blue_gradient_background-wallpaper-1920x1200.jpg"); /* rgb(149, 156, 149); /* green background */
  /*background-image: url("/images/1092593.png")!important;*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #fff; /* white text color */
  height: 800px;
  margin: 0px;
  top:0;
  left:0;
  font-family: "Avenir Next Bold";
  z-index: -10;

}

.cont-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(241, 250, 250);
  opacity: 1;
  overflow: hidden;
  height: auto;
  z-index: 999;
}

#rel-container {
  display: inline-block;
  position: relative;
  margin-top: 200px;
  margin-left: 150px;
  margin-bottom: 350px;
  background-color: #fff;
  width: 450px;
  height: 200px;
}
#rel-container p {
  text-align: left;
  font-family: "Avenir Next";
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 15px;
  color: #ccc;
}

#rel-container2 {
  float: left;
  position: relative;
  margin-top: 200px;
  margin-left: 130px;
  margin-bottom: 350px;
  background-color: #fff;
  width: 450px;
  height: 200px;
}
#rel-container2 p {
  text-align: left;
  font-family: "Avenir Next";
  text-transform: uppercase;
  padding-top: 60px;
  padding-left: 50px;
  font-size: 15px;
  color: #ccc;
}
#rel-container2 a {
  text-align: left;
  font-family: "Avenir Next Bold";
  text-transform: none;
  padding-top: 60px;
  padding-left: 50px;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}
.buttoncontainer4 {
  position: relative;
  margin-top: -10px;
  margin-left: 45px;
  margin-bottom: 0px;
  float: left;
  font-weight: bold;
}
.buttoncontainer4 .button2 p {
  margin-top: -40px;
  margin-left: -48px;
  font-family: "Avenir Next Bold"!important;
  font-size: 25px!important;
  text-transform: none!important;
  color: black;
}

#getintouch-header {
  color: #fff!important;
  font-size: 55px!important;
}


