# Clerk (https://dashboard.clerk.com)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/

# URLs
NEXT_PUBLIC_PORTAL_URL=https://app.bmkrs.com
NEXT_PUBLIC_MARKETING_URL=https://www.bmkrs.com
